
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [3]:
test1="This is a test of the emergency text system"
print(test1)
with open("test.txt","w") as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system

#reading the contents of text file

In [4]:
!type test.txt

This is a test of the emergency text system

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open("test.txt","r") as file:
    test2=file.read()
print(test1)
print(test1 == test2)

This is a test of the emergency text system
True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [6]:
given_data='''title,author,year 
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1990'''
with open("books.csv","w") as file:
    file.write(given_data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
db = sqlite3.connect('books.db') 
cursor = db.cursor() 
cursor.execute("CREATE TABLE books2 (title text, author text, yr int)")
db.commit()
db.close()

5. Read books.csv and insert its data into the books table.

In [ ]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("insert into books2 values(?,?,?)",(book['title'],book['author'],book['yr']))
conn.commit()
conn.close()

#6)SELECT AND PRINT THE TITLE COLUMN FROM THE BOOK TABLE IN AN ALPHABETICAL ORDER

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books2 ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

#7)FROM THE BOOK TABLE,SELECT AND PRINT ALL COLUMNS IN THE ORDER OF PUBLICATION

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

#8)Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

#9.) Install the Redis server and the Python redis library (pip install redis) on your computer. 
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [1]:
! python -m pip install redis

Requirement already satisfied: redis in c:\users\achuth\anaconda3\lib\site-packages (4.1.4)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\achuth\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in c:\users\achuth\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\achuth\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\achuth\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')