In [2]:
#1)[] is an empty list

In [5]:
#2) To Assign "hello" As third value
spam = [2,4,6,8,10]
spam[2]="hello"
spam

[2, 4, 'hello', 8, 10]

In [6]:
#3)
spam = ["a","b","c","d"]
spam[int(int("3"*2)/11)]

'd'

In [7]:
#4)
spam = ["a","b","c","d"]
spam[-1]

'd'

In [8]:
#5)
spam[:2]

['a', 'b']

In [9]:
#6)
Bacon = [3.14,"cat",11,"cat",True]
Bacon.index("cat")

1

In [10]:
#7)
Bacon = [3.14,"cat",11,"cat",True]
Bacon.append(99)
Bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [11]:
#8)
Bacon.remove("cat")
Bacon

[3.14, 11, 'cat', True, 99]

In [39]:
#9)List concatatenantion operator is addition.
#)List Repliction operatores are multiplication
list6 = [1,2,3,4]
list1=[67,90,89,89]
list6 +list1 
# # list concataenation

[1, 2, 3, 4, 67, 90, 89, 89]

In [40]:
#9)List  Replicaation
list6*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [38]:
list5=[2,8,9,10]
list5.insert(2,12)
list5

[2, 8, 12, 9, 10]

In [15]:
#10)List.append will appends the item at the end of the list
#)list.insert will inserts the item before the specified index number

In [17]:
#11)List.remove() removes the specific item mentioned in the bracket
#List.clear() will remove all the items in the list

In [45]:
#12)List Values and String Values are identical where the elements of string are separated by 
#comma,except the strings are represented in single or double quotes

In [ ]:
#13)List[]elements in the list are mutable
#tuple()elements in the tuples are immutable

In [ ]:
#14) t1 = (42,)

In [18]:
#15)converting list into a tuple
samplelist  = [23,89,90]
tuple1 = tuple(samplelist)
print(tuple1)
print(type(tuple1))

(23, 89, 90)
<class 'tuple'>

In [46]:
#15)converting a tuple into a list
X = (556,90,80)
Y = list (X)
print(X)

TypeError: 'list' object is not callable

In [1]:
#16)variables will contain  references to list values rather than list values themselves.But,for
#strings and integer values,variables contain string or integer value.

In [3]:
#17)
#)A shallow copy constructs a new compound object and then (to the extent possible) inserts
#references into it to the objects found in the original.
#A deep copy constructs a new compound object and then, recursively, inserts copies
#into it of the objects found in the original.