In [3]:
#1)VALUES ARE "hello",6,-87.8
   #EXPRESSIONS ARE *,-,/,+(MATHEMATICAL OPERATORS)

In [4]:
#2)Variable is a name given to the memory location in a program.
   #String is a data type which has to be included in a single,double or triple quotes.

In [5]:
#3)Three different data types are 
#Integers(any numbers)
#Strings(which should  be included in single quote,double quote, or triple quote)
#Boolean(true or false)(1 or 0)

In [6]:
#4)Expresssions are mathematical operators which includes +addition,-substraction,*multiplication,/Division

In [7]:
#5)spam=10
#expression is mathematical operation which it does.
#This statement spam=10 is just assigning a value of 10 to the spam

In [8]:
#6)
bacon=22
bacon+1
#value of a variable will be 23

23

In [14]:
#7)
spam+'spamspam'
#we cannot add integer and string.string should always be in quotes

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
#7)
spam*3

30

In [20]:
#8)Variable name should never start with numbers.it can start with alphabets,digits or underscore.
#so,eggs is valid variable name and 100 is an invalid  variable name

In [21]:
#9)int function for integer
#float function for decimal number
#Str function for string value which should be within single,double or triple quotes

In [24]:
#10) 99 is an integer.we cannot add string with integer without converting it.so,convert the 
# 99 integer as a string value by including it in a single or double quote.
'i have eaten '+' 99'+' biscuits'

'i have eaten  99 biscuits'